aioredis==1.2.0
click==6.6
coloredlogs==10.0
hiredis==0.2.0
humanfriendly==4.18
psutil==5.4.6
PyYAML==5.1.1
sentry-sdk==0.11.1
tabulate==0.8.3
uhashring==1.1
ujson==1.35
uvloop==0.13.0
websockets==8.0.2
